.splash-container {
  background: #1f8dd6;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1;
}

.splash {
  /* absolute center .splash within .splash-container */
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 80%;
}

/* This is the main heading that appears on the blue section */
.splash-head {
  background-color: deeppink;
  border: 3px solid white;
  border-radius: 5px;
  color: white;
  font-size: 40px;
  font-weight: 100;
  line-height: 1em;
  padding: 1em 1.6em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
  color: white;
  letter-spacing: 0.05em;
  opacity: 0.8;
}

#myImage {
  border: 3px solid white;
  border-radius: 5px;
  width: 100%;
}

p {
  font-size: 20px;
}
.loading {
  /*border: 300px solid #1f8dd6;*/
  /*width: 100px;*/
  margin-top: 200px;
}
